VITE_API_URL=http://localhost:8080

VITE_ARTIST_FACEBOOK_URL=https://www.facebook.com/borna.original.art

VITE_CLOUDINARY_CLOUD_NAME=

VITE_PUBLIC_INSTAGRAM_LINK=https://www.instagram.com/borna.original.art/
VITE_PUBLIC_PHONE_LINK=tel:+38978489356
VITE_PUBLIC_PHONE_DISPLAY=078-489-356
