VITE_API_URL=[INSERT_RENDER_BACKEND_URL]
VITE_PUBLIC_FACEBOOK_LINK=[INSERT_FACEBOOK_LINK]
VITE_PUBLIC_INSTAGRAM_LINK=[INSERT_INSTAGRAM_LINK]
VITE_PUBLIC_PHONE_LINK=[INSERT_PHONE_LINK]
VITE_PUBLIC_PHONE_DISPLAY=[INSERT_PHONE_DISPLAY]
VITE_PUBLIC_EMAIL_ADDRESS=[INSERT_EMAIL_ADDRESS]
